<div class="background text-center">
  <form
    class="form-signin animated fadeIn"
    autocomplete="off"
    autocomplete="off"

  >
    <img class="mb-4 img" src="https://www.freepnglogos.com/uploads/shopee-logo/shopee-circle-logo-design-shopping-bag-13.png" alt="logo" />
    <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
    <label class="sr-only" for="inputEmail">Email Address</label>
    <input
      type="email"
      class="form-control mb-2"
      id="inputEmail"
      formControlName="email"
      placeholder="Email Address"
    />
    <label class="sr-only" for="inputPassword">Password</label>
    <input
      type="password"
      class="form-control mb-3"
      id="inputPassword"
      placeholder="Password"
      formControlName="password"
    />
    <label class="sr-only" for="inputPassword2">Confirmar contraseña</label>
    <input
      type="password"
      class="form-control mb-3"
      id="inputPassword2"
      placeholder="Confirm Password"
      formControlName="passwordConfirm"

    />
    <button type="submit" class="btn btn-lg btn-primary btn-block mb-2">
      Sign up
    </button>
    <a >Do you have an account?</a>

  </form>
</div>


